.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
aminclude_static.am
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
dist/*.pc
install-sh
libtool
ltmain.sh
m4/ax_*.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/pkg.m4
missing
*/.dirstamp
*/.libs/
*/*.o
*/*.lo
*.la
*.gcno
*.gcda
*.log
*.trs
test-driver
man/man1/
man/man3/
man/man7/
*~
/libtpm2-totp
/tpm2-totp
/AUTHORS
/*.tar.gz
