language: c
compiler:
  - gcc
  - clang

dist: xenial

cache: ccache

env:
  global:
  - PATH="${PWD}/installdir/usr/local/bin:${PATH}"
  - PKG_CONFIG_PATH="${PWD}/installdir/usr/local/lib/pkgconfig:/usr/lib/pkgconfig"
  - LD_LIBRARY_PATH="${PWD}/installdir/usr/local/lib:/usr/lib"

addons:
  apt:
    packages:
    - autoconf
    - autoconf-archive
    - automake
    - build-essential
    - realpath
    - lcov
    - libgcrypt20-dev
    - liboath-dev
    - libqrencode-dev
    - pandoc
    - libplymouth-dev
    - plymouth
    - fakeroot
    - doxygen

install:
  - git clean -xdf
  - mkdir -p installdir/usr/local/bin
# TPM Simulator
  - wget --no-check-certificate https://download.01.org/tpm2/ibmtpm974.tar.gz
    # we skip failing cert check and use the sha256sum instead
  - sha256sum ibmtpm974.tar.gz | grep -q ^8e45d86129a0adb95fee4cee51f4b1e5b2d81ed3e55af875df53f98f39eb7ad7 || travis_terminate 1
  - mkdir ibmtpm
  - tar axf ibmtpm974.tar.gz -C ibmtpm
  - make -C ibmtpm/src -j$(nproc)
  - cp ibmtpm/src/tpm_server installdir/usr/local/bin
  - which tpm_server
# Autoconf archives
  - wget --no-check-certificate https://download.01.org/tpm2/autoconf-archive-2017.09.28.tar.xz
    # we skip failing cert check and use the sha256sum instead
  - sha256sum autoconf-archive-2017.09.28.tar.xz | grep -q 5c9fb5845b38b28982a3ef12836f76b35f46799ef4a2e46b48e2bd3c6182fa01 || travis_terminate 1
  - tar xJf autoconf-archive-2017.09.28.tar.xz
  - cp autoconf-archive-2017.09.28/m4/ax_code_coverage.m4 m4/
  - cp autoconf-archive-2017.09.28/m4/ax_prog_doxygen.m4 m4/
  - cp autoconf-archive-2017.09.28/m4/ax_is_release.m4 m4/
  - cp autoconf-archive-2017.09.28/m4/ax_add_fortify_source.m4 m4/
# TPM2-TSS
  - git clone --depth=1 -b 2.1.0 https://github.com/tpm2-software/tpm2-tss.git
  - pushd tpm2-tss
  - cp ../autoconf-archive-2017.09.28/m4/ax_code_coverage.m4 m4/
  - ./bootstrap
  - ./configure --prefix=${PWD}/../installdir/usr/local
  - make -j$(nproc)
  - make install
  - rm ${PWD}/../installdir/usr/local/lib/*.la
  - popd
# tpm2-tools
  - git clone --depth=1 -b 3.X https://github.com/tpm2-software/tpm2-tools.git
  - pushd tpm2-tools
  - mkdir m4 || true
  - cp ../autoconf-archive-2017.09.28/m4/ax_code_coverage.m4 m4/
  - ./bootstrap
  # Some workarounds for tpm2-tools with -Wno-XXX
  - ./configure --disable-hardening CFLAGS="-I${PWD}/../installdir/usr/local/include -Wno-unused-value -Wno-missing-field-initializer" LDFLAGS=-L${PWD}/../installdir/usr/local/lib --prefix=${PWD}/../installdir/usr/local
  - make -j$(nproc)
  - make install
  - popd

before_script:
  - ./bootstrap

script:
# build with all tests enabled
  - CONFIGURE_OPTIONS="CFLAGS=-I${PWD}/installdir/usr/local/include LDFLAGS=-L${PWD}/installdir/usr/local/lib "
  - ./bootstrap
  - mkdir ./build
  - pushd ./build
  - |
    if [ "$CC" == "gcc" ]; then
      export CONFIGURE_OPTIONS+=" --enable-code-coverage";
    else
      export SCAN_PREFIX="scan-build --status-bugs"
    fi
  - $SCAN_PREFIX ../configure $CONFIGURE_OPTIONS --enable-integration --enable-plymouth
  - $SCAN_PREFIX make -j$(nproc)
  - make -j$(nproc) check
  - cat test-suite.log
  - make -j$(nproc) distcheck
  - cat tpm2-totp-*/_build/sub/test-suite.log config.log || true
  - popd
# Check for whitespace errors
  - git diff --check $(git hash-object -t tree /dev/null)

after_success:
  - |
    if [ "$CC" == "gcc" ]; then
        bash <(curl -s https://codecov.io/bash)
    fi
